@import '../../../../../shared/styles/mixins/breakpoints';



.header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-family: var(--font-ElMessiri);
    p {
        letter-spacing: 4px;
        color: rgba(255, 201, 120, 1);
    }
    h2 {
        margin-top: 20px;
        font-size: 36px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbarItem {
    cursor: pointer;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    &__active {
        color:rgba(255, 201, 120, 1);
        border-color:rgba(255, 201, 120, 1);
    }
}


.galleryHolder {
    margin-top: 30px;
}

.gallery {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.galleryItem {
    width: 100%;
    
    img {
        width: 100%;
        height: auto;
    }
}

@include breakpoint(md) {

    
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .title {
        h2 {
            font-size: 60px;
        }
    }
}

@include breakpoint(lg) {
    .header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

     .navbar {
        width: 400px;
     }

     .gallery {
        margin-top: 80px;
        gap: 20px;
     }
}