@import '../../../../../shared/styles/mixins/breakpoints';



.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100svh;
    position: relative;
    overflow: hidden;
}

.text {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    padding-top: 70px;
}

.topTitle {
    line-height: 21px;
    color: rgba(255, 201, 120, 1);
    text-transform: uppercase;
}

.title {
    margin-top: 10px;
    font-size: 28px;
    line-height: 34px;
    font-family: var(--font-ElMessiri);
    text-transform: uppercase;
    position: relative;
}
.description {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(171, 174, 183, 1);
    max-width: 50%;
}

.btn {
    margin-top: 10px;
    button {
        height: 40px;
    }
}

.starsSvg {
    display:none;
}

.lineSvg {
    display: none;
}

.heroTextSvg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: rotate(-90deg) translate(0%, -70%);
    transform-origin: top right;
    svg {
        width: 45vh;
    }
}


.imageHolder {
    display: flex;
    flex-basis: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: flex-end;
     img {
        height: auto;
        width: 100%;
     }
}



@include breakpoint(xl) {
    .root {
        flex-direction: row;
        justify-content: flex-end;
    }

    .text {
        width: 40%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        flex-basis: 0;
    }
    
    .title {
        margin-top: 30px;
        font-size: 70px;
        line-height: 80px;
        max-width: 45%;

    }

    .description {
        margin-top: 10px;
        max-width: 45%;
    }

    .btn {
        margin-top: 50px;
        button {
            height: 50px;
        }
    }

    .starsSvg {
        display: block;
        position: absolute;
        top: -125px;
        right: 0;
    }

    .lineSvg {
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        z-index: -1;
         
          svg {
            height: auto;
            width: 50vw;
          }
    }

    .heroTextSvg {
        transform: unset;
        bottom: 0;
        left: 0;
        right: unset;
        top: unset;
        transform-origin: unset;
        z-index: 1;
        svg {
            width: 40vw;
        } 
    }

    .imageHolder {
        flex-basis: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        max-height: unset;
        img {
            height: 110%;
            width: auto;
        }
    }
}




