@import '../../../../shared/styles/mixins/breakpoints';


.root {
    section {
        margin-top: 50px;
    }
    .hero {
        margin-top: unset;
    }
    
}


.specializationsDesktop {
    display: none;
}


@include breakpoint(md) {
    
    .root {
        section {
            margin-top: 140px;
        }
    }

 

    .specializationsMobile {
        display: none;
    }

    .specializationsDesktop {
        display: block;
    }

   
}