@import '../../../../shared/styles/mixins/breakpoints';


.specializations {
    margin-top: 50px;
}
.specializationsDesktop {
    display: none;
}

.aboutUs {
    margin-top: 50px;
}

.ourProjects {
    margin-top: 50px;
}

@include breakpoint(md) {
    .specializations {
        margin-top: 140px;
    }

    .specializationsMobile {
        display: none;
    }

    .specializationsDesktop {
        display: block;
    }

    .aboutUs {
        margin-top: 140px;
    }

    .ourProjects {
        margin-top: 140px;
    }
}